<table class='table'>
  <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <% user ||= current_user %>
   <div class="stats">
	  <th>follows</th>
	  <th><a href="<%= users_show_follow_path(user) %>">
    <strong id="following" class="stat">
      <%= user.followings.count %>
    </strong></th>
   </tr>
     <tr>
	  <th>followers</th>
	  <th><a href="<%= users_show_follower_path(user) %>">
      <strong id="followers" class="stat">
      <%= user.followers.count %>
       </strong></th>
     </div>
  <tr>
  </tr>
</table>

<div class='row'>
  <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
</div>